html, body {
  height:  100%;
  margin: 0;
  padding: 0;
}

/*****************Body***************************/
body {
  background-color: white;
  font-family: 'verdan',sans-serif;
  font-size: 100%;
}
/***************end Body***************************/
/*****************Navigation***************************/
  nav ul {
    list-style: none;
    text-align: right;
  }
  nav li {
    display: inline-block;
    }
/*****************end navigation***************************/
/*****************header***************************/
header {
  text-align: right;
  font-size: 0.75em;
  color: #000;
  height: 30px;
}
/*****************end header***************************/
/******************section****************************/
section {
  text-align: center;
  /*margin-bottom: 320px;*/
}
/*****************end section***************************/
/*****************Footer***************************/
footer {
font-size: 0.75em;
position:absolute;
bottom:0;
width:100%;
height:50px;
background-color: #E6E2AF;
}
/*****************end footer***************************/
/*****************Mon cadre ***************************/
.moncadre {
  display: block;
  margin-top: 0;
  float: right;
  width:200px;
  /*border:1px solid lightblue ;*/
  text-align: center;
}
/*****************class lien messagerie**************************/
.gma {
  display: block;
  padding-bottom:  10px;
  margin-left: 10px;
  margin-right: 10px
}
/*****************Class lien images google***************************/
.ima {
  display: block;
  padding-bottom: 10%;
  margin-left: 10px;
  margin-right: 10px
}
/*****************Class réduction icon google***************************/
.reduire {
  display: block;
  width: 50%;
  height:50%;
}
.clo {
  display: block;
  margin-top: 5px;
  width: 100%;
  height:100%;
}
/*****************Class dans footer alignement gauche***************************/
.agoch {

  float: left;
  color: black;
  padding-left: 20px;
  padding-right: 20px;
}

.agoch li a {
  margin-left:  20px;
  color: black;
}


/*****************Class dans footer alignement droite***************************/
.adroite {
  float: right;
  color: black;
  padding-left: 20px;
  padding-right: 20px;
  margin-right:  30px;
}

.adroite li a {
  margin-right:  20px;
  color: black;
}




/*****************Class image de google***************************/
.imagoo {
  display:block;
  max-width: none;
  border-radius:1px;
  margin-top: 150px;
  margin-left: 500px;
  width: 50%;
  height:50%;

}
/*****************Class icon de google***************************/
.imico {
  width: 10%;
  height:10%;
}
/*****************Classzone de recherche de google***************************/
.rech {
  /*background-color:lightblue;*/
  height: 40px;
  width: 600px;
  margin-left:100;
  margin-top: 20px;
  border: 1px solid lightblue;
}
/*****************Class bouton de recherche Google***************************/

#button-r {
  /*background-color: #4CAF50; */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;

}


#button-c {
    background-color: #red; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

/*****************responsive web design***************************/
@media screen and (min-width: 480px) {
  .imagoo {
    display:block;
    border-radius:1px;
    margin-top: 150px;
    margin-left: 500px;
    width: 25%;
    height:25%;
  }
}

@media screen and (min-width: 660px) {
  .imagoo {
  /*  display:block;
    border-radius:1px;
    margin-top: 150px;
    margin-left: 500px;
    width: 70%;
    height:70%; */
  }


}
